@font-face {
	font-family: scoreboard;
	src: url('/static/fonts/scoreboard.ttf')
}


html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

h2 {
    text-align: center;
}

.span12 {
    padding-right: 100px;
}

#map {
    margin-right: 20px;
    height: 88%;
    min-width: 320px;
    /*min-height: 100%;*/
}
.placeholder {
	height: 170px;
	line-height: 170px;
	border: 1px gray solid;
	background-color: #EEE;
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 20px;
}
.module {
	margin-bottom: 20px;
    font-size: 20px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/static/img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
   
}
#loader {
	text-align: center;
	color: black;
	font-size: 50pt;
	padding-top: 4em;
	font-family: scoreboard, sans-serif;
}

.brand {
	font-family: scoreboard, sans-serif;
}