@font-face {
	font-family: scoreboard;
	src: url('/static/fonts/scoreboard.ttf')
}


html, body {
    padding: 0;
    margin: 0;

}


h2 {
    text-align: center;
}

p {
    font-size: 18px;
    color: white;
    padding-left: 25px;
    line-height: 22px;
}

.about {
    padding: 50px;
}

.span12 {
    padding-right: 100px;
}

#map {
    margin-right: 20px;
    height: 88%;
    min-width: 320px;
    min-height: 400px;
}

#map p {
    color: black;
}

#map img {
    max-width: none;
}

.placeholder {
	height: 170px;
	line-height: 170px;
	border: 1px gray solid;
	background-color: #EEE;
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 20px;
}
.module {
	
    font-size: 20px;
}

#loader {
    display:    none;
	text-align: center;
    font-size:  20px;
    color:      white;
}

.brand {
	font-family: scoreboard, sans-serif;
}
