{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>About the AutoPollr</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap.cyborg.css' %}" media="screen">
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
 	</head>
 	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="/">POLL-O-TRON</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/about">About</a></li>
						</ul>
					</div><!--/.nav-collapse -->
					<form class="navbar-search pull-right">
						<input type="text" class="search-query" placeholder="Search">
					</form>
				</div>
			</div>
		</div>
	<div class="container-fluid">
		<div class="row">
			<h2>What is the <span class="brand">Poll-o-tron?</span></h2>
			<div class="alert alert-info">
		        <strong class="brand">Poll-o-tron</strong> is a way for citizens and officials
				to gauge the sentiment of those around them. Whether searching
				for civic affairs or traffic jams, you can get an instant look
				at the thoughts of social media users in Denver.
		    </div>
		</div>
		<div class="row">
			<div class="span4">
				<h2>Examples</h2>
		    <p>For example, citizens and government officials could compare 
		    	sentiment to population demographics and traffic accidents.
		    </p>
			</div>
		</div>
		<div class="row">
			<div class="span5">
	        	<h3 class="brand">Legend</h3>
	        	<div class="legend" id="legend"></div>
			</div>
			<div class="span7">
				<div id="aboutmap"></div>
			</div>
		</div>
	</div>
 	</body>
 	<script src="{% static 'js/googlemap.js' %}"></script>
</html>
