{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Auto Poll</title>
		<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/js/esri/css/esri.css">
		<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/js/dojo/dijit/themes/claro/claro.css ">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap.cyborg.css' %}" media="screen">
		<link rel="stylesheet" href="{% static 'css/jqcloud.css' %}" />
    	<link rel="stylesheet" href="{% static 'css/cloud.css' %}"/>
    	<link rel="stylesheet" href="{% static 'css/chart.css' %}"/>
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
 	</head>
 	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">Auto Poll</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="#about">About</a></li>
						</ul>
					</div><!--/.nav-collapse -->
					<form class="navbar-search pull-right">
						<input type="text" class="search-query" placeholder="Search">
					</form>
				</div>
			</div>
		</div>
		<div class="span4" style="float: left;">
			Sentiment Chart
			<div id="chart-container">
				<div id="chart">
					<div id="positive"></div>
					<div id="neutral"></div>
					<div id="negative"></div>
				</div>
				<div id="labels">
					<div class="left">Positive</div>
					<div>Neutral</div>
					<div class="right">Negative</div>
				</div>
			</div>
			<br>
			Tag cloud
			<div class="jqtagcloud" id="jqtagcloud">
        	</div>
		</div>
		<div id="map" class="container-fluid"></div>
 	</body>
 	<script src="{% static 'js/twittermap.js' %}"></script>
 	<script src="{% static 'js/jqcloud-1.0.4.js' %}"></script>
  	<script src="{% static 'js/cloud.js' %}"></script>
	<script src="{% static 'js/chart.js' %}"></script>
</html>
