{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		
		<title>Poll-o-tron</title>
		<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/js/esri/css/esri.css">
		<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/js/dojo/dijit/themes/claro/claro.css ">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap.cyborg.css' %}" media="screen">
		<link rel="stylesheet" href="{% static 'css/jqcloud.css' %}" />
    	<link rel="stylesheet" href="{% static 'css/cloud.css' %}"/>
    	<link rel="stylesheet" href="{% static 'css/chart.css' %}"/>
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<script src="{% static 'js/chart.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
		</script>
		
 	</head>
 	<body>
		<div class="navbar navbar-inverse">

			<div class="navbar-inner">
				

				<div class="container">
					<img src='static/img/readytalk2.png' class="pull-left">

					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<a class="brand" href="/">Poll-o-tron</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/about">About</a></li>
						</ul>
					</div><!--/.nav-collapse -->
					
					<form id="search-form" class="navbar-search pull-right">
						<input type="text" id="search-query" class="search-query" placeholder="space seperated search">
					</form>
					<center><span id = "stats" ></span></center>
				</div>
				
			</div>
			
		</div>
		<br><br><br><br><br><br><br>
		<div class="row-fluid">

			<div class="span4" style="min-width: 500px">
				
				<div class="divider">
					<script type="text/javascript"> 
			  			google.setOnLoadCallback(refreshChart);
			 		</script>

	    		 	<div id="visualization" style="width: 800px; height: 400px;"></div>
					<div id="labels"></div>
    			</div>
			</div>

			

			<div class="span4" style="min-width: 500px">				
				<div class="divider">
					<div class="jqtagcloud module" id="jqtagcloud"></div>
				</div>
				
			</div>


			<div class="span4" style="min-width: 500px">
				<div class="divider">
					<div id="map"></div>
				</div>
			</div>

		</div>
		<br><br>
		<div class="row-fluid">
			<div class="span4 offset4">
				<div id="loader">Gauging Sentiment. This could take a few minutes.<br><br>
					<img src="static/img/ajax-loader.gif"><br>
				</div>
			</div>
		</div>
	</div>

		
		
 	</body>
 	<script src="{% static 'js/twittermap.js' %}"></script>
 	<script src="{% static 'js/jqcloud-1.0.4.js' %}"></script>
  	<script src="{% static 'js/cloud.js' %}"></script>
	<script src="{% static 'js/chart.js' %}"></script>
</html>
