{% load staticfiles %}
	<!DOCTYPE html>
<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 	<title>A simple ESRI Map</title>
 	<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.4/js/esri/css/esri.css">
<script src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.4/"></script>
 <link rel="stylesheet" href="{% static 'css/bootstrap.cyborg.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/simplemap.css' %}">
 <script src="{% static 'js/bootstrap.js' %}"></script>
 </head>
 <body>
		
	<div class="container-fluid">
 		<div class="row-fluid">
	 		<div class="span4">
	 			<h1>The WumboTron</h1>
	 		</div>
	 		<div class="span8">
	 			<div class="claro">
	 				<div id="mapDiv"></div>
	 			</div>
	 		</div>
	 	</div>
 	</div>


 </body>
 <script src="{% static 'simplemap.js' %}"></script>
</html>
